body {
    overflow-y: hidden;
}

.glyphicon {
    margin-right: 5px;
}

svg.svg {
    height: 450px;
    width: 900px;
}

.signin {
    position: absolute;
    border: 1px solid black;
    width: 50%;
    left: 25%;
    padding: 20px;
}