body {
    overflow-y: hidden;
}

.glyphicon {
    margin-right: 5px;
}

svg.svg {
    height: 450px;
    width: 900px;
}

.row {
    margin: 0;
}
.col-sm-2 a {
    padding: 5px;
}

.entry {
    height: 50px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: limegreen;
    background-color: #666;
}

.signin {
    position: absolute;
    border: 1px solid black;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.signin .error {
    color: red;
    font-weight: bold;
}